END TO END PROJECT

In [2]:
print('hii')

hii

In [ ]:
# step eda and loading

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv(r'D:\mca2024\full project\Walmart.csv', encoding_errors='ignore')

In [11]:
df.shape

(10051, 11)

In [12]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [14]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [15]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [18]:
df.duplicated().sum()

np.int64(51)

In [19]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [20]:
df.drop_duplicates (inplace=True)

In [21]:
df.duplicated().sum()

np.int64(0)

In [23]:
df.shape

(10000, 11)

In [24]:
# dropping null values
df.dropna(inplace=True)

In [26]:
df.shape

(9969, 11)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 934.6+ KB

In [30]:
df['unit_price']=df['unit_price'].str.replace('$','').astype(float)

In [31]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [32]:
df['total']=df['unit_price']*df['quantity']

In [33]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [35]:
import pymysql
print("pymysql installed successfully!")

pymysql installed successfully!

In [36]:
import sqlalchemy
print(sqlalchemy.__version__)

2.0.41

In [37]:
import psycopg2
print("psycopg2 is installed and working!")

psycopg2 is installed and working!

In [39]:
# import pymysql from sqlalchemy import create_engine
import pymysql
from sqlalchemy import create_engine
import psycopg2

In [ ]:
# mysql
# host=localhost
# port=3306
# user=root
# password="yp"

# for connection

In [41]:
df.to_csv('walmart_clean',index=False)

In [55]:
engine_mysql = create_engine("mysql+pymysql://tanis@loacalhost:3306/db_walmart")

try:
    engine_mysql
    print("connection successed to mysql")
except:
    print("Unable to connect")

connection successed to mysql

In [50]:
from sqlalchemy import create_engine
import pyodbc

# engine_mysql = create_engine("mysql+pymysql://tanis@localhost:3306/db_walmart")
engine = create_engine(
    "mssql+pyodbc://localhost\\SQLEXPRESS/db_walmart?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

In [54]:
from sqlalchemy import create_engine, text

engine = create_engine(
    "mssql+pyodbc://localhost\\SQLEXPRESS/db_walmart?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

with engine.connect() as connection:
    result = connection.execute(text("SELECT GETDATE();"))
    print("Current SQL Server time:", result.fetchone()[0])

Current SQL Server time: 2025-07-06 16:12:01.197000

In [61]:
df.shape

(9969, 12)

In [63]:
rows, cols = df.shape
print(f"Rows: {rows}, Columns: {cols}")

Rows: 9969, Columns: 12

In [65]:
df.to_sql(name='walmart.csv', con=engine, if_exists='replace', index=False)

51